---
layout: single
header:
  overlay_image: /assets/images/shell.jpg
  og_image: /assets/images/shell-og.jpg
  teaser: /assets/images/shell-thumb.jpg
  image_description: "Uma concha na areia da praia"
  caption: "Imagem: [aaronburden](https://unsplash.com/@aaronburden)"
  #actions:
  #  - label: "Leia mais"
  #    url: "https://cr-signorelli.github.io/"
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
